.container {
  max-width: 90rem;
  margin-left: auto;
  margin-right: auto;
  padding: var(--container-p-y, 0) var(--container-p-x, var(--container-padding-x));
}
section {
  margin-top: var(--section-m-t, 6rem);
}
