/* Layout Classes */
.flow-content > * + * {
  margin-top: var(--flow-space, 1rem);
}

.flow-content--sm {
  --flow-space: 0.5rem;
}

.flow-content--md {
  --flow-space: 1.25rem;
}

.flow-content--lg {
  --flow-space: 3rem;
}
