.svg-ring {
  max-width: 3rem;
  margin: 0 auto;
  @media (min-width: 62em) {
    max-width: 4rem;
  }
}

.svg-std {
  display: none;
  @media (min-width: 48em) {
    max-width: 10rem;
    display: block;
    position: absolute;
    right: 2rem;
    top: 1.5rem;
  }
}
